/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(37, 94, 233);
    height: 579px;
}

.black-border {
    border: black dashed 1px;
}

.upper-header {
    padding-top: 10px;
    margin-bottom: 10px;
}

#logo {
    background-image: url(../img/logo.svg);
    background-size: cover;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    padding-left: 10px;
   }

.ul-link {
    height: 50px;
    width: 800px;
    list-style-type: none;
    justify-content: space-around;
    color: white;
}

.login {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

#title {
    text-align: center;
    color: white;
    font-size: 50px;
}

#introduction {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 4%;
}


.box-pink {
    height: 430px;
    width: 60%;
    text-align: center;
    color: white;
    padding-top: 1rem;
}

.container-white {
    background-color: white;
    flex-direction: row;
}

.frog-picture {
    background-image: url(../img/item1.svg);
    background-size: cover;
    height: 500px;
    width: 50%;
}

.box-soft-pink {
    height: 500px;
    width: 30%;
    padding-top: 3rem;
    padding-left: 5rem;
    color: rgb(35, 39, 42);
    font-size: 30px;
}

.magician-picture {
    background-image: url(../img/item2.svg);
    background-size: cover;
    height: 500px;
    width: 50%; 
}

.book-picture {
    background-image: url(../img/item3.svg);
    background-size: cover;
    height: 500px;
    width: 50%; 
}


.container-grey {
    background-color: #D3D3D3;
    flex-direction: row;  
}

.box-green {
    background-color: #228B22;
    height: 800px;
    width: 80%;
}

.container-black {
    background-color: #23272A;
    flex-direction: row;
    border-bottom: solid 5px white;
    padding-top: 1%;
    padding-bottom: 3%;
}

.column-big {
    background-color: #F08080;
    height: 600px;
    width: 25%;
}

.column-small {
    background-color: #20B2AA;
    height: 600px;
    width: calc((80% - 25%)/4);
    border: white dashed 4px;
}

footer {
    background-color: #23272A;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box-light-green {
    background-color: #7FFFD4;
    width: 80%;
    height: 70%;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-footer {
    background-color: #FFB6C1;
    width: 5%;
    height: 30px;
}

#bottone {
    background-color: #FFB6C1;
    width: 6%;
    height: 30px;
}